
<h1>Liste des utilisateurs</h1>

<table class="table table-striped table-hover table-bordered table-responsive">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
    <th>Téléphone</th>


    <% if can? :voir_roles, current_user %>
      <th>Rôles</th>
    <% end %>

    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.nom %></td>
      <td><%= user.prenom %></td>
      <td><%= user.email %></td>
      <td><%= user.telephone %></td>

      <% if can? :voir_roles, user %>
        <td><%= user.roles_as_text %></td>
      <% end %>

      <td><%= link_to 'Afficher', user %></td>
      <td><%= link_to 'Modifier', edit_user_path(user) %></td>

      <!--<% if can? :manage, user %>-->
        <td><%= link_to 'Edit Rôles', edit_roles_user_path(user) %></td>

        <td><%= link_to 'Détruire', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %></td>
      <!--<% end %>-->

    </tr>
  <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'Nouveau utilisateur', new_user_path %>-->
