<h1>Utilisateur</h1>

<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @user.telephone %>
</p>

<%= link_to 'Modifier', edit_user_path(@user) %> |
<%= link_to 'Retour', users_path %>
