<%= form_for(@ferme) do |f| %>
    <% if @ferme.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ferme.errors.count, "error") %> prohibited this ferme from being saved:</h2>

          <ul>
            <% @ferme.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :nom %><br>
      <%= f.text_field :nom %>
    </div>
    <div class="field">
      <%= f.label :adresse %><br>
      <%= f.text_field :adresse %>
    </div>
    <%= f.label "Animaux" %><br>
    <table class="table table-striped table-hover table-bordered table-responsive">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Status</th>
        <th>Prix journalier</th>
        <th>Ferme</th>
        <th>Espece</th>
        <th>Taches possibles</th>
        <th></th>
        <th>Dans cette ferme</th>
      </tr>
      </thead>

      <tbody id="animals">
      <% for animal in @animals %>
          <tr>
            <%= render :partial => 'animals/animal', :locals => {:animal => animal, :printFarm => true, :printRemoveFarm => false} %>
            <td><%= check_box_tag "ferme[animals][]", animal.id, @ferme.animals.include?(animal) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="actions">
      <%= f.submit :class => "btn btn-sm btn-default", :class => "btn btn-sm btn-default" %>
    </div>
<% end %>
