<%= form_for(@ferme) do |f| %>
  <% if @ferme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ferme.errors.count, "error") %> prohibited this ferme from being saved:</h2>

      <ul>
      <% @ferme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br>
    <%= f.text_field :adresse %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
