<p id="notice"><%= notice %></p>

<h1>Listing Fermes</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Gerant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fermes.each do |ferme| %>
      <tr>
        <td><%= ferme.nom %></td>
        <td><%= ferme.adresse %></td>
        <td><%= ferme.user.nom + " " + ferme.user.prenom %></td>
        <td><%= link_to 'Show', ferme %></td>
        <% if can? :manage, ferme %>
            <td><%= link_to 'Edit', edit_ferme_path(ferme) %></td>
            <td><%= link_to 'Destroy', ferme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, Ferme %>
    <%= link_to 'New Ferme', new_ferme_path %>
<% end %>