<% content_for :actions_specifiques do %>
    <%= render :partial => "actions_specifiques", :locals => {:action => "index" } %>
<% end %>
<!--<p id="notice"><%= notice %></p>-->

<h1>Liste des fermes</h1>

<table class="table table-striped table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Gerant</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fermes.each do |ferme| %>
      <tr>
        <td><%= ferme.nom %></td>
        <td><%= ferme.adresse %></td>
        <td><%= ferme.user.nom + " " + ferme.user.prenom %></td>
        <td>
          <%= link_to 'Afficher', ferme, :class => 'btn btn-sm btn-default' %>
          <% if can? :manage, ferme %>
            <%= link_to 'Modifier', edit_ferme_path(ferme), :class => 'btn btn-sm btn-default' %>
            <%= link_to 'Détruire', ferme, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, Ferme %>
    <%= link_to 'Nouvelle ferme', new_ferme_path %>
<% end %>