<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @ferme.nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @ferme.adresse %>
</p>

<p>
  <strong>Gerant:</strong>
  <br/>
  <%= @ferme.user.nom + " " + @ferme.user.prenom %>
  <br/>
  <%= @ferme.user.telephone %>
</p>


<p><strong>Animaux de la ferme :</strong></p>

<table border="1">
  <thead>
  <tr>
    <th><i>Nom</i></th>
    <th><i>Status</i></th>
    <th><i>Prix journalier</i></th>
    <th><i>Espece</i></th>
    <th><i>Taches possibles</i></th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody id="animals">
  <% @ferme.animals.each do |animal| %>
      <%= render :partial => 'animals/animal', :locals => {:animal => animal, :printFarm => false} %>
  <% end %>
  </tbody>
</table>

<% if can? :manage, @ferme %>
    <br/>
    <div style="border: 2px solid;">
        <p><strong>Ajouter un animal</strong></p>
        <%= render :partial => "animals/form", :locals => {:isRemote => true, :fixedFarm => true} %>
    </div>
    <%= link_to 'Edit', edit_ferme_path(@ferme) %> |
<% end %>
<%= link_to 'Back', fermes_path %>
