<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @ferme.nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @ferme.adresse %>
</p>

<p>
  <strong>Gerant:</strong>
  <br/>
  <%= @ferme.user.nom + " " + @ferme.user.prenom %>
  <br/>
  <%= @ferme.user.telephone %>
</p>


<p><strong>Animaux de la ferme :</strong></p>

<table border="1">
  <thead>
  <tr>
    <th><i>Nom</i></th>
    <th><i>Status</i></th>
    <th><i>Prix journalier</i></th>
    <th><i>Espece</i></th>
    <th><i>Taches possibles</i></th>
  </tr>
  </thead>

  <tbody>
  <% @ferme.animals.each do |animal| %>
      <tr>
        <td><%= link_to animal.nom, animal %></td>
        <td><%= animal.status_animal.nom %></td>
        <td><%= animal.prix_journalier %></td>
        <td><%= animal.espece.nom %></td>
        <td>
          <% animal.type_tache.each_with_index do |tache, index| %>
            <%= if(index == animal.type_tache.size - 1)
                tache.nom
            else
                tache.nom + ", "
            end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if can? :manage, @ferme %>
    <%= link_to 'Edit', edit_ferme_path(@ferme) %> |
<% end %>
<%= link_to 'Back', fermes_path %>
