<% content_for :actions_specifiques do %>
    <%= render :partial => "actions_specifiques",
               :locals => {:action => "show" } %>
<% end %>

<h1>Ferme</h1>

<p>
  <strong>Nom:</strong>
  <%= @ferme.nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @ferme.adresse %>
</p>

<p>
  <strong>Gerant:</strong>
  <br/>
  <%= @ferme.user.nom + " " + @ferme.user.prenom %>
  <br/>
  <%= @ferme.user.telephone %>
</p>


<p><strong>Animaux de la ferme :</strong></p>

<table class="table table-striped table-hover table-bordered table-responsive">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Status</th>
    <th>Prix journalier</th>
    <th>Espece</th>
    <th>Taches possibles</th>
    <th></th>
  </tr>
  </thead>

  <tbody id="animals">
  <% @ferme.animals.each do |animal| %>
    <tr>
      <%= render :partial => 'animals/animal', :locals => {:animal => animal, :printFarm => false, :printRemoveFarm => true} %>
    </tr>
  <% end %>
  </tbody>
</table>

<% if can? :manage, @ferme %>
    <br/>
    <div style="border: 2px solid;">
        <p><strong>Ajouter un animal</strong></p>
        <%= render :partial => "animals/form", :locals => {:isRemote => true, :fixedFarm => true} %>
    </div>
    <%= link_to 'Modifier', edit_ferme_path(@ferme) %> |
<% end %>
<%= link_to 'Retour', fermes_path %>
