<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @animal.nom %>
</p>

<p>
  <strong>Status:</strong>
  <%= @animal.status_id %>
</p>

<p>
  <strong>Prix journalier:</strong>
  <%= @animal.prix_journalier %>
</p>

<p>
  <strong>Ferme:</strong>
  <%= @animal.ferme_id %>
</p>

<p>
  <strong>Espece:</strong>
  <%= @animal.espece_id %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
