  <td><%= animal.nom %></td>
  <td><%= animal.status_animal.nom %></td>
  <td><%= animal.prix_journalier %></td>
  <% if printFarm %>
      <% if animal.ferme.nil? %>
          <td>pas de ferme</td>
      <% else %>
          <td><%= link_to animal.ferme.nom, animal.ferme %></td>
      <% end %>
  <% end %>
  <td><%= animal.espece.nom %></td>

  <td>
    <% animal.type_tache.each_with_index do |tache, index| %>
        <%= if(index == animal.type_tache.size - 1)
              tache.nom
            else
              tache.nom + ", "
            end %>
    <% end %>
  </td>

  <td>
    <%= link_to 'Show', animal, :class => 'btn btn-sm btn-default' %>

    <% if can? :manage, animal %>
      <%= link_to 'Edit', edit_animal_path(animal), :class => 'btn btn-sm btn-default' %>
      <%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %>
        <% if printRemoveFarm %>
          <%= link_to 'Remove from farm', remove_from_farm_animal_path(animal), :class => "removeFromFarm btn btn-sm btn-danger", method: :put, :data => { :remote => true } %>
        <% end %>
    <% end %>
  </td>
