<!-- we didn't manage to pass variable isRemote with false when render :new is called, so in that case the variable is not defined and the form is not remote -->
<%= form_for(@animal, :remote => (if (defined? isRemote) == "local-variable" then isRemote else false end)) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.collection_select :status_animal_id, @status_animals, :id, :nom %>
    </div>
  <div class="field">
    <%= f.label :prix_journalier %><br>
    <%= f.text_field :prix_journalier %>
  </div>
    <div class="field">
      <%= f.label :ferme %><br>
      <% if (defined? fixedFarm) == "local-variable" then %>
          <%= @animal.ferme.nom %>
          <%= f.hidden_field :ferme_id %>
      <% else %>
          <%= f.collection_select :ferme_id, @fermes, :id, :nom, {:include_blank => 'Selectionner'} %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :espece %><br>
      <%= f.collection_select :espece_id, @especes, :id, :nom %>
    </div>

    <%= f.label "Types de taches possible" %><br>
    <% for typeTache in TypeTache.all %>
        <div>
          <%= check_box_tag "animal[type_taches][]", typeTache.id, @animal.type_tache.include?(typeTache) %>
          <%= typeTache.nom %>
        </div>
    <% end %>
  <div class="actions">
    <%= f.submit :class => "btn btn-sm btn-default" %>
  </div>
<% end %>