<% content_for :actions_specifiques do %>
    <%= render :partial => "actions_specifiques",
               :locals => {:action => "show" } %>
<% end %>

<!--<p id="notice"><%= notice %></p>-->

<h1>Animal</h1>

<p>
  <strong>Nom:</strong>
  <%= @animal.nom %>
</p>

<p>
  <strong>Status:</strong>
  <%= @animal.status_animal.nom %>
</p>

<p>
  <strong>Prix journalier:</strong>
  <%= @animal.prix_journalier %>
</p>

<p>
  <strong>Ferme:</strong>
  <% if @animal.ferme.nil? %>
      pas de ferme
  <% else %>
    <%= link_to @animal.ferme.nom, @animal.ferme %>
  <% end %>
</p>

<p>
  <strong>Espece:</strong>
  <%= @animal.espece.nom %>
</p>

<p>
  <strong>Taches possibles :</strong>
  <ul>
    <% @animal.type_tache.each do |tache| %>
        <li>
          <%= tache.nom %>
        </li>
    <% end %>
  </ul>
</p>

<% if can? :manage, @animal %>
    <%= link_to 'Modifier', edit_animal_path(@animal) %> |
<% end %>
<%= link_to 'Retour', animals_path %>