<p id="notice"><%= notice %></p>

<h1>Listing Type Taches</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_taches.each do |type_tach| %>
      <tr>
        <td><%= type_tach.nom %></td>
        <td><%= link_to 'Show', type_tach %></td>
        <td><%= link_to 'Edit', edit_type_tach_path(type_tach) %></td>
        <td><%= link_to 'Destroy', type_tach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type tache', new_type_tach_path %>
