<% content_for :actions_specifiques do %>
    <%= render :partial => "actions_specifiques", :locals => {:action => "index" } %>
<% end %>

<h1>Liste des types de tache</h1>

<table class="table table-striped table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @type_taches.each do |type_tach| %>
      <tr>
        <td><%= type_tach.nom %></td>
        <td>
          <%= link_to 'Afficher', type_tach, :class => 'btn btn-sm btn-default' %>
          <%= link_to 'Modifier', edit_type_tach_path(type_tach), :class => 'btn btn-sm btn-default' %>
          <%= link_to 'Détruire', type_tach, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau type de tâche', new_type_tach_path %>
