<p id="notice"><%= notice %></p>

<h1>Listing Especes</h1>

<table class="table table-striped table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @especes.each do |espece| %>
      <tr>
        <td><%= espece.nom %></td>
        <td>
          <%= link_to 'Show', espece, :class => 'btn btn-sm btn-default' %>
          <%= link_to 'Edit', edit_espece_path(espece), :class => 'btn btn-sm btn-default' %>
          <%= link_to 'Destroy', espece, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Espece', new_espece_path %>
