<!DOCTYPE html>
<html>
<head>
  <title>CoupDePatte</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "_monstyle" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page">
  <h1 id="siteTitle"><%= "Coup de patte" %></h1>

  <div class="user_nav">
    <% if user_signed_in? %>
        <h2>Connecté (<%= current_user.email %>, <%= current_user.roles_as_text %>)</h2>
        <%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete %>
        |
        <%= link_to 'Modifiez vos données', edit_user_registration_path %>
    <% else %>
        <%= link_to 'Connexion', new_user_session_path %>
        |
        <%= link_to 'S\'enregistrer', new_user_registration_path %>
    <% end %>
  </div>

  <div class="content">
    <% if flash[:notice] %>
        <div class="notice_box">
          <%= flash[:notice] %>
        </div>
    <% end %>
    <% if flash[:error] %>
        <div class="error_box">
          <%= flash[:error] %>
        </div>
    <% end %>
    <%= yield %>
  </div>

  <div class="actions_specifiques">
    <%= yield :actions_specifiques %>
  </div>

  <div class="actions_generales">
    <h2>Actions générales</h2>
    <!-- Vue Public -->
    <%= link_to 'Liste des animaux', animals_path %>
    <br/>
    <%= link_to 'Liste des fermes', fermes_path %>
    <br/>

    <!--Vue Paysan-->
    <% if can? :create, Location %>
      <%= link_to 'Liste des locations', locations_path %>
      <br/>
    <% end %>

    <!-- Vue Gérant -->
    <% if can? :update, Location %>
        <%= link_to 'Gérer les locations', locations_path %>
        <br/>
    <% end %>

    <!-- Vue admin -->
    <% if can? :manage, TypeTache %>
        <%= link_to 'Liste des types de tache', type_taches_path %>
        <br/>
    <% end %>

    <% if can? :manage, Espece %>
        <%= link_to 'Liste des especes', especes_path %>
    <% end %>
  </div>

</div>

</body>
</html>