<h2>Modifier vos données</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :prénom %><br />
    <%= f.text_field :prenom, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :téléphone %><br />
    <%= f.text_field :telephone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>En attente de confirmation pour: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :mot_de_passe %> <i>(laisser vide pour ne pas le modifier)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :confirmation_de_mot_de_passe %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :mot_de_passe_actuel %> <i>(entrez votre mot de passe actuel pour valider les changements)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Mise à jour", :class => "btn btn-sm btn-default" %>
  </div>
<% end %>

<br/>

<h2>Supprimer mon compte</h2>

<%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sûr ?" }, method: :delete, :class =>  "removeFromFarm btn btn-sm btn-danger" %>

<br/>

<%= link_to "Retour", :back %>
