<h2>S'enregistrer</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :prénom %><br />
    <%= f.text_field :prenom, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :téléphone %><br />
    <%= f.text_field :telephone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :type, options_for_select(%w[Gerant Paysan Admin]) %>

  </div>

  <div class="field">
    <%= f.label :mot_de_passe %>
    <% if @validatable %>
    <em>(Au minimum <%= @minimum_password_length %> charactères)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :confirmation_mot_de_passe %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "S'inscrire", :class => "btn btn-sm btn-default" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
