
<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>

  <div class="field form-group">
    <%= f.label 'Durée (jours)' %><br>
    <%= f.number_field :dureeJour, min: 1 %>
  </div>

  <div class="field form-group">
    <%= f.label :animal %><br>
    <!--<%= f.number_field :animal_id %>-->
    <%= f.collection_select :animal_id, @animals, :id, :nom %>
  </div>

  <!--<div class="field">-->
   <!-- <%= f.label :user %><br> -->
    <!--<%= f.number_field :user_id %>-->
  <!--</div>-->

  <!--<div class="field">-->
   <!-- <%= f.label :status_location_id %><br> -->
    <!--<%= f.text_field :status_location_id %>-->
  <!--</div>-->

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
<% end %>