
<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>

  <div class="field form-group">
    <%= f.label 'Durée (jours)' %><br>
    <%= f.number_field :dureeJour, min: 1 %>
  </div>

  <div class="field form-group">
    <%= f.label :animal %><br>
    <%= @location.animal.nom %>
    <%= f.hidden_field :animal_id %>
  </div>

  <!-- Vue Edit -->
  <% if !@location.new_record? %>
    <div class="field form-group">
      <%= f.label :paysan %><br>
      <%= @location.user.full_name %>
    </div>


    <div class="field form-group">
      <%= f.label 'Status de location' %> <br>
      <%= f.collection_select :status_location_id, @statusLocation, :id, :nom  %>
    </div>


    <div class="field form-group" id="resultats">
      <%= f.label 'Types de tâches possibles' %><br>
      <% for typeTache in @location.animal.type_tache.all %>
        <%= check_box_tag 'location[type_taches][]', typeTache.id, @location.type_tache.include?(typeTache) %>
        <%= typeTache.nom %>
        <br>
      <% end %>
    </div>


  <!-- Vue New -->
  <% else %>

    <div class="field form-group">
      <%= f.label :paysan %><br>
      <%= current_user.full_name %>
    </div>


    <div class="field">
      <%= f.label 'Status de location' %> <br>
      <%= @location.status_location.nom  %>
    </div>


    <div class="field form-group" id="resultats">
      <%= f.label 'Types de tâches possibles' %><br>
      <% for typeTache in @location.animal.type_tache %>
        <%= check_box_tag 'location[type_taches][]', typeTache.id, @location.type_tache.include?(typeTache) %>
        <%= typeTache.nom %>
        <br>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit :class => "btn btn-sm btn-default" %>
  </div>
  <br>
<% end %>