<% content_for :actions_specifiques do %>
    <%= render :partial => "actions_specifiques",
               :locals => {:action => "show" } %>
<% end %>
<!--<p id="notice"><%= notice %></p>-->

<h1>Location</h1>

<p>
  <strong>Date:</strong>
  <%= @location.date %>
</p>

<p>
  <strong>Durée :</strong>
  <%= @location.dureeJour %> jour(s)
</p>

<p>
  <strong>Animal :</strong>
  <%= @location.animal.nom %>
</p>

<p>
  <strong>Paysan :</strong>
  <%= @location.user.full_name %>
</p>

<p>
  <strong>Status de location :</strong>
  <%= @location.status_location.nom %>
</p>

<p>
  <strong>Tâches possibles :</strong>
<ul>
  <% @location.type_tache.each do |tache| %>
    <li>
      <%= tache.nom %>
    </li>
  <% end %>
</ul>
</p>


<% if can? :manage, Location %>
  <%= link_to 'Modifier', edit_location_path(@location) %> |
<% end %>


<%= link_to 'Retour', locations_path %>
