<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @location.date %>
</p>

<p>
  <strong>Durée :</strong>
  <%= @location.dureeJour %> jour(s)
</p>

<p>
  <strong>Animal :</strong>
  <%= @location.animal.nom %>
</p>

<p>
  <strong>Paysan :</strong>
  <%= @location.user.full_name %>
</p>

<p>
  <strong>Status de location :</strong>
  <%= @location.status_location.nom %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
